[core]
  quotepath = false
	excludesfile = /Users/michael.loo/.gitignore_global
	editor = /usr/bin/vim
	hooksPath = /Users/michael.loo/.git-hooks
[user]
	name = Michael Loo
	email = michael.loo@rea-group.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
  s = status
  c = commit
  b = branch
  co = checkout
  r = rebase
  d = diff
  dc = diff --cached
  wd = diff --word-diff
  l = log --oneline
  up = !git fetch --prune && git co master && git pull && git co -
  pushom = push origin master
  pullom = pull origin master
  su = submodule update --init
  si = submodule init
  owner = !sh -c \"git blame --line-porcelain \\\"$@\\\" | sed -n \\\"s/^author //p\\\" | sort | uniq -c | sort -rn\"
  cnm = commit --no-verify -m
  a = add
  cp = cherry-pick
  mt = mergetool
  pushup = push --set-upstream
  bc = !sh -c \"git branch --merged | grep -Ev \\\"(develop|master|release)\\\" | xargs -I branch git b -d branch\"
  rbc = !sh -c \"git branch -r --merged | grep -Ev \\\"(develop|master|release)\\\" | sed \\\"s/origin\\///g\\\" | xargs -I branch git push -d origin branch\"
  bro = !sh -c \"${HOME}/Documents/dev/mac-osx-settings/bro.sh $1 $2\"
	poush = push
[color]
  diff = true
[push]
  default = current
[merge]
  tool = opendiff
[credential]
  helper = osxkeychain
[commit]
	template = /Users/michael.loo/.gitmessage
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
