[core]
  quotepath = false
	excludesfile = /Users/u203443/.gitignore_global
[user]
	name = Michael Loo
	email = michael.loo@outware.com.au
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
  s = status
  c = commit
  b = branch
  co = checkout
  r = rebase
  d = diff
  dc = diff --cached
  wd = diff --word-diff
  l = log --oneline
  pushom = push origin master
  pullom = pull origin master
  su = submodule update --init
  si = submodule init
  owner = !sh -c \"git blame --line-porcelain \\\"$@\\\" | sed -n \\\"s/^author //p\\\" | sort | uniq -c | sort -rn\"
  cnm = commit --no-verify -m
  a = add
  cp = cherry-pick
  mt = mergetool
  pushup = push --set-upstream
  bc = !sh -c \"git branch --merged | grep -Ev \\\"(develop|master)\\\" | xargs -I branch git b -d branch\"
  rbc = !sh -c \"git branch -r --merged | grep -Ev \\\"(develop|master|release)\\\" | sed \\\"s/origin\\///g\\\" | xargs -I branch git push -d origin branch\"
  bro = !sh -c \"${HOME}/Documents/dev/mac-osx-settings/bro.sh $1 $2\"
[color]
  diff = true
[push]
  default = current
[merge]
  tool = opendiff
[credential]
  helper = osxkeychain
[url "https://github.com/card-io/card.io-dmz"]
  insteadOf = git@github.com:card-io/card.io-dmz
[commit]
	template = /Users/u203443/.stCommitMsg
